{
  "columnName": [
    "DOB",
    "AGE",
    "FAVOURITE SPORT",
    "PHONE NUMBER",
    "NAME",
    "SSN"
  ],
  "fileWriter": [
    {
      "type" : "csv",
      "params" : {
        "path_or_buf": "output.csv"
      }
    }
  ],
  "numOfRows": 50,
  "fileName": "",
  "sheetName": "",
  "configs": [
    {
      "names": [
        "DOB"
      ],
      "debug" : "False",
      "format": "String",
      "strategy": {
        "isUnique": "False",
        "name": "DATE_GENERATOR_STRATEGY",
        "params": {
          "startDate" : "1970-10-20",
          "endDate" : "2000-01-31"
        }
      },
      "operation": "insert"
    },
    {
      "names": [
        "AGE"
      ],
      "debug" : "False",
      "format": "String",
      "strategy": {
        "isUnique": "False",
        "name": "DISTRBUTED_NUMBER_RANGE_STRATEGY",
        "params": {
          "ranges" : [
            {
              "lowerbound" : 5,
              "upperbound" : 25,
              "distribution" : 60
            },
            {
              "lowerbound" : 26,
              "upperbound" : 70,
              "distribution" : 30
            },
            {
              "lowerbound" : 70,
              "upperbound" : 120,
              "distribution" : 10
            }
          ]
        }
      },
      "operation": "insert"
    },
    {
      "names": [
        "FAVOURITE SPORT"
      ],
      "debug" : "False",
      "format": "String",
      "relation_type": [
        {
          "filter": {
            "lhs": [
              "AGE"
            ],
            "rhs": [
              "70"
            ],
            "operation": [
              ">"
            ],
            "boolean": [
            ]
          },
          "strategy": {
            "isUnique": "False",
            "name": "DISTRBUTED_CHOICES_STRATEGY",
            "params": {
              "choices": {
                "golf" : 100
              }
            }
          },
          "operation": "insertIfEmpty"
        },
        {
          "filter": {
            "lhs": [
              "AGE"
            ],
            "rhs": [
              "70"
            ],
            "operation": [
              "<"
            ],
            "boolean": [
            ]
          },
          "strategy": {
            "isUnique": "False",
            "name": "DISTRBUTED_CHOICES_STRATEGY",
            "params": {
              "choices": {
                "cricket" : 50,
                "soccer": 50
              }
            }
          },
          "operation": "insertIfEmpty"
        }
      ]
    },
    {
      "names": [
        "PHONE NUMBER"
      ],
      "debug" : "False",
      "format": "String",
      "strategy": {
        "isUnique": "False",
        "name": "RANDOM_NUMBER_RANGE_STRATEGY",
        "params": {
          "range" : {
            "upperbound" : 9999999999,
            "lowerbound" : 9000000000
          }
        }
      },
      "operation": "insert"
    },
    {
      "names": [
        "NAME"
      ],
      "debug" : "False",
      "format": "String",
      "strategy": {
        "isUnique": "False",
        "name": "RANDOM_NAME_STRATEGY"
      },
      "operation": "insert"
    },
    {
      "names": [
        "SSN"
      ],
      "debug" : "False",
      "format": "String",
      "strategy": {
        "isUnique": "False",
        "name": "REGEX_STRATEGY",
        "params": {
          "regex": "[A-Za-z0-9]{20}"
        }
      },
      "operation": "insert"
    }
  ]
}