{
  "columnName": [
    "date",
    "distributed number range",
    "distributed choices",
    "random number range",
    "random name",
    "regex",
    "time range"
  ],
  "fileWriter": [
    {
      "type" : "csv",
      "params" : {

        "path_or_buf": "output.csv"
        
      }
    }
  ],
  "numOfRows": 10,
  "fileName": "",
  "sheetName": "",
  "configs": [
    {
      "names": [
        "date"
      ],
      "debug" : "False",
      "format": "String",
      "strategy": {
        "isUnique": "False",
        "name": "DATE_GENERATOR_STRATEGY",
        "params": {
          "startDate" : "2000-10-20",
          "endDate" : "2024-01-31"
        }
      },
      "operation": "insert"
    },
    {
      "names": [
        "distributed number range"
      ],
      "debug" : "False",
      "format": "String",
      "strategy": {
        "isUnique": "False",
        "name": "DISTRBUTED_NUMBER_RANGE_STRATEGY",
        "params": {
          "ranges" : [
            {
              "lowerbound" : 0,
              "upperbound" : 20,
              "distribution" : 90
            },
            {
              "lowerbound" : 10,
              "upperbound" : 30,
              "distribution" : 10
            }
          ]
        }
      },
      "operation": "insert"
    },
    {
      "names": [
        "distributed choices"
      ],
      "debug" : "False",
      "format": "String",
      "strategy": {
        "isUnique": "False",
        "name": "DISTRBUTED_CHOICES_STRATEGY",
        "params": {
          "choices": {
            "Red": 40,
            "Green": 10,
            "Blue": 20,
            "Black": 20,
            "White": 5,
            "Gray": 5
          }
        }
      },
      "operation": "insert"
    },
    {
      "names": [
        "random number range"
      ],
      "debug" : "False",
      "format": "String",
      "strategy": {
        "isUnique": "False",
        "name": "RANDOM_NUMBER_RANGE_STRATEGY",
        "params": {
          "range" : {
            "upperbound" : 200,
            "lowerbound" : 10
          }
        }
      },
      "operation": "insert"
    },
    {
      "names": [
        "random name"
      ],
      "debug" : "False",
      "format": "String",
      "strategy": {
        "isUnique": "False",
        "name": "RANDOM_NAME_STRATEGY",
        "params": {
          
        }
      },
      "operation": "insert"
    },
    {
      "names": [
        "regex"
      ],
      "debug" : "False",
      "format": "String",
      "strategy": {
        "isUnique": "False",
        "name": "REGEX_STRATEGY",
        "params": {
          "regex": "[A-Za-z0-9]{10}"
        }
      },
      "operation": "insert"
    },
   
    {
      "names": [
        "time range"
      ],
      "debug" : "False",
      "format": "String",
      "strategy": {
        "name": "TIME_RANGE_STRATEGY",
        "params" : {
          "range" : {
            "upperbound" : "12:00:00AM",
            "lowerbound" : "10:00:00PM"
          }
          }
      },
      "operation" : "insert"
    }
  ]
}
